streamlit==1.41.1
pandas
biopython
watchdog
# Force rebuild Fri Jan 16 18:11:22 PST 2026
# Force rebuild Fri Jan 16 18:51:15 PST 2026
# Force rebuild Fri Jan 16 19:08:40 PST 2026
# Force rebuild Fri Jan 16 19:19:24 PST 2026
# Force rebuild Fri Jan 16 20:00:37 PST 2026
# Force rebuild Fri Jan 16 20:06:54 PST 2026
# Force rebuild Fri Jan 16 20:10:50 PST 2026
# Force rebuild Fri Jan 16 20:15:13 PST 2026
# Force rebuild Fri Jan 16 20:17:56 PST 2026
